<%= stylesheet_link_tag "collaborators" %>
<div class="container">

<div class="collaborator-form-container">
<h1>New Collaborator</h1>

<div>
<%= render 'form', collaborator: @collaborator %>
</div>
<div>
<%= link_to 'Back', projects_path, class: "editBack" %>
</div>
</div>
</div>