<%= stylesheet_link_tag "attachments" %>
<div class="container">

<div class="attachment-form-container">
<h1>New Attachment</h1>

<div>
<%= render 'form', attachment: @attachment %>
</div>

<div>
<%= link_to 'Back', attachments_path, class: "editBack" %>
</div>
</div>
</div>