<%= stylesheet_link_tag "project" %>
<div class="container">

<div class="project-form-container">
<h1>New Project</h1>

<div>
<%= render 'form', project: @project %>
</div>
<div>
<%= link_to 'Back', projects_path, class: "editBack" %>
</div>
</div>
</div>
