* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgba(0,0,0,0.1);
}

.header-main {
    height: 15vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-main-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-logo {
    h1 {
        font-family: 'Secular One', sans-serif;
    }
}

.header-main-links {
    span {
        padding: 5px 10px;
        color: grey;
        border-bottom: 1px solid transparent;
        text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.2);
        text-transform: uppercase;

        &:hover {
            transition: all 0.25s ease-in;
            color: black;
            border-bottom: 1px solid black;
            cursor: pointer;
        }
    }
}

.content-container {
    width: 75%;
    margin: auto;
    margin-top: calc(15vh + 25px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.9);
    border-radius: 5%;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

.text {
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid transparent;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}

.edit:hover {
    transition: all 0.25s ease-out;
    background-color: rgba(255, 255, 0, 0.301);
    color: black;
    border: 1px solid black;
}

.delete:hover {
    transition: all 0.25s ease-out;
    background-color: rgba(255, 0, 0, 0.301);
    color: black; 
    border: 1px solid black;   
}

.error-message {
    position: absolute;
    bottom: 15px;
    right: 15px;
    min-height: 50px;
    width: 500px;
    z-index: 1;
    text-align: center;
    background-color: white;
    color: red;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);

    h2 {
        margin-bottom: 10px;
    }
}

.tiny {
    font-size: 12px;
    display: flex;
    padding: 5px 1px;
    color: grey;

    div {
        margin-right: 10px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.nothing-div {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;

    span {
        margin-top: 50px;
    }
}

.container {
    min-height: 75vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    display: grid;
    place-items: center;
    background-color: white;
    padding-bottom: 10vh;
    position: relative;
}

.editBack {
    position: absolute;
    bottom: 15px;
    font-size: 20px;
}

.form-container {
    height: 50vh;
    width: 50vw;
    padding: 20px 20px;
    margin: 10px 0px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.form-container-title,
.form-container-description {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.form-container__input-title {
    width: 200px;
    padding: 2px 2px;
    margin: 4px 0px;
}

.form-container__input-description {
    padding: 2px 2px;
    margin: 4px 0px;
    height: 25vh;
    width: 80%;
}

.actions {
    padding: 10px 0px;
}

.action-button {
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    margin-top: -5px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
        transition: all 0.25s ease-in-out;
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}